

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/fms">FMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</nav>


{% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
        {% else %}
        <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      
      
<div class="jumbotron text-center mt-4 mb-5">
  <h1>Student Home</h1>

</div>



  <div class="row mt-5 text-center">
    <div class="col-md-1 offset-md-4">
      <div class="card" style="width: 30rem;">
        
        <div class="card-body">
    <img src="/static/studentLogin-icon.png">
  </div>
   <!--  <div class="card-body">
    
        </div> -->
        
    <div class="row mt-4">
      <div class="col-sm-3">
        <h5>Uid</h5>
      </div>
      
      <div class="col-sm-3 ">
      </div>
      <div class="col-sm-3 ">
      </div>
      
      <div class="col-sm-3 "> 
        <h5>{{data[0]}}</h5>
      </div>
    
    </div>
    
    
    <div class="row mt-4">
      <div class="col-sm-3">
        <h5>Name</h5>
      </div>
      
      <div class="col-sm-3 ">
      </div>
      <div class="col-sm-3 ">
      </div>
      
      <div class="col-sm-3 "> 
        <h5>{{data[1]}}</h5>
      </div>
    
    </div>
    
    
    <div class="row mt-4">
      <div class="col-sm-3">
        <h5>Sem</h5>
      </div>
      
      <div class="col-sm-3 ">
      </div>
      <div class="col-sm-3 ">
      </div>
      
      <div class="col-sm-3 "> 
        <h5>{{data[2]}}</h5>
      </div>
    
    </div>
    
    
    <div class="row mt-4">
      <div class="col-sm-3">
        <h5>Branch</h5>
      </div>
      
      <div class="col-sm-3 ">
      </div>
      <div class="col-sm-3 ">
      </div>
      
      <div class="col-sm-3 "> 
        <h5>{{data[3]}}</h5>
      </div>
    
    </div>
        
  </div>
</div>
    </div>
    
    
  
<div class="container my-5">
      <h3>Subjects</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {%for sub in data1:%}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{sub['subject']}}</td>
            <td>{{sub['teacher']}}</td>
           
            <td><a type="button" href="/fms/student/review/{{loop.index}}" class="btn btn-outline-dark btn-sm mx-1">Add Review</button>
            </td>
          </tr>
          {%endfor%}
          
        </tbody>
      </table>
      {% if data1|length == 0: %}
      <div class="alert alert-dark" role="alert">
        <strong>No data found.</strong>
      </div>

      {% endif %}
    </div>
  </div>  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='code.js')}}"></script>
  </body>
</html>